.App {
  text-align: center;
  background-color: #f2f2f2;
  /* background: rgb(46,158,247);
background: linear-gradient(90deg, rgba(46,158,247,1) 0%, rgba(50,127,242,1) 100%); */
}
*{
  box-sizing: border-box;
}