.sideNav{
	width: 0;
	overflow: hidden;
	height: 94vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #373c40;
	transition: .4s;
	box-shadow: 3px 0 5px 0 black;
}

/* add glassmorphism */

.sidenotes{
	height: 40px;
	/* margin: 7px; */
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	/* color: #8898b2 */
}

.sidenotes:hover{
	cursor: pointer;
	background: rgba(213,108,47,1); 
}

.activenote {
	background-color:#E0E1E2;
	color: rgba(0,0,0,.6);
}

.sidenote-container{
	height: 500px;
	width: 100%;
	overflow: auto;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrowContainer {
	height: 50px;
	/* width: 100px; */
	background-color: #373c40;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 50px;
	transition: width .2s;
}

.arrowContainer:hover {
	cursor: pointer;
	width: 100px;
}

.leftArrow {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(213,108,47,1);
	color: black;
	box-shadow: 1px 1px 2px 1px rgb(216,109,42);
	margin-left: 214px;
}

.leftArrow {
	cursor: pointer;
}

.ui.attached.menu {
	margin: 0 auto !important;
	width:200px;
	text-align: center !important
}
.ui.tabular.menu{
	border: none !important;
}

.TabWrapper .segment {
	width: 270px !important;
	height: 400px !important;
}
.TabWrapper .ui.segment{
	background-color: transparent !important;
	border: none;
	padding: 0 1rem !important;
}

.TabWrapper .ui.attached.tabular.menu {
	width: 150px !important;
}

.sidenav-header {
	margin-top: 10px !important;
	font-size: 24px;
	color: white;
	font-family: 'Dancing Script', cursive;
}

.sidenav-header:hover{
	cursor: pointer;
}

.ui.segment.pushable {
	width: 500px;
}

.ui.basic.segment {
	height: 70vh;
	width: 500px;
}

.pusher {
	width: 200px;
}

.ui.visible.left.overlay.sidebar {
	width: 200px;
}

.animating.ui.overlay.sidebar, .ui.visible.overlay.sidebar {
	width: 200px !important;
}