.sideNav{
	width: 270px;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: rgb(46,158,247); */
	/* background: linear-gradient(90deg, rgba(50,127,242,1) 0%, rgba(46,158,247,1) 100%); */
	background: #373c40;
	/* transition: width height 7s; */
}

/* add glassmorphism */

.sidenotes{
	height: 40px;
	/* margin: 7px; */
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	/* color: #8898b2 */
}

.sidenotes:hover{
	background-color:#E0E1E2;
	cursor: pointer;
}

.activenote {
	background-color:#E0E1E2;
	color: rgba(0,0,0,.6);
}

.sidenote-container{
	height: 500px;
	width: 100%;
	overflow: auto;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrowContainer {
	height: 50px;
	/* width: 100px; */
	background-color: #373c40;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 50px;
	transition: width 1s;
}

.arrowContainer:hover {
	/* transform: scaleX(); */
	width: 100px;
}

.ui.attached.menu {
	margin: 0 auto !important;
	width:200px;
	text-align: center !important
}
.ui.tabular.menu{
	border: none !important;
}

.TabWrapper .segment {
	width: 270px !important;
	height: 430px !important;
}
.TabWrapper .ui.segment{
	background-color: transparent !important;
	border: none;
	padding: 0 1rem !important;
}

.TabWrapper .ui.attached.tabular.menu {
	width: 150px !important;
}

.sidenav-header {
	font-size: 24px;
	color: white;
}

.sidenav-header:hover{
	cursor: pointer;
}

.ui.segment.pushable {
	width: 500px;
}

.ui.basic.segment {
	height: 70vh;
	width: 500px;
}

.pusher {
	width: 200px;
}

.ui.visible.left.overlay.sidebar {
	width: 200px;
}

.animating.ui.overlay.sidebar, .ui.visible.overlay.sidebar {
	width: 200px !important;
}