.notes-modal{
	width:100vw;
	margin-left: 10px;
}

.notes-modal .ql-editor{
	min-height: 700px ;
	overflow: auto;
	width: 900px;
	/* padding: 27px auto !important; */
}

.notes-modal .ql-editor h1 {
	margin: 0 0 27px 0 !important;
}

.notes-modal .ql-toolbar{
	display: flex;
}

.header-input{
	border-color: #ffeb82;
	height: 61px;
	font-size: 40px;
	vertical-align: middle;
	border:none;
	resize: none;
	padding: 0 20px;
	font-weight:100;
	background: #f2f2f2;
	color: gray;
	line-height: 61px;
}

.header-input:focus{
	outline: none;
}

.header-input::placeholder{
	font-weight: 100;
	color: #D3D3D3;
	vertical-align: middle;
}

.top-bar{
	display: flex;
	width: 900px;
	background-color: #f2f2f2;
	justify-content: space-between;
	margin-top: 10px;
}

.header-icon{
	height: 61px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #f2f2f2;
}

.notes-modal .ql-toolbar.ql-snow {
	width: 900px;
}
.notes-modal .ui.segment>.ui.dimmer {
	background: #f2f2f2 !important;
	/* width: 1200px; */
}
