.pad{
	height: 100px;
	box-shadow: 1px 1px 1px 1px #ccc;
	width: 270px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-x: auto;
	border-radius: 7px;
	background: #fff4ba;
	border-color: #ffeb82;
	margin: 15px 0 0 10px;
}

.scratchpad{
	border-color: #ffeb82;
	height: 200px;
	border:none;
	background: #fff4ba;
	resize: none;
	width: 100% !important;
	padding: 0 20px;
	font-size: 18px !important;
	font-weight: 400 !important;
	color: gray;
	top:"100px"
}

.scratchpad:focus{
	outline: none;
}