.loginWrapper {
  height: 100vh;
  width: 500px;
  margin: auto;
  top: 50%;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  box-shadow: 0px 1px 4px 2px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBtn {
  height: 50px;
  width: 300px;
	background-color: rgba(213,108,47,1);
  border: none;
  border-radius: 10px 10px;
  margin: 10px 0;
}


.loginWrapper input{
  margin: 10px auto;
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid lightgrey;
  border-radius: 10px 10px;
  padding: 0 10px;
}

.loginWrapper input:focus{
  outline: none;
  caret-color: rgba(213,108,47,1);
}

.formHeader {
	font-size: 52px;
	font-family: 'Dancing Script', cursive;
}

.formBtn:focus {
  outline: none;
  background: rgb(236, 140, 84);
}


.formBtn:hover {
  outline: none;
  background: rgb(236, 140, 84);
  cursor: pointer;
}

.formFooter {
  color: white;
  margin-top: 34px;
  font-size: medium;
  background: #373c40;
  width: 300px;
  border-radius: 10px 10px;
  height:140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0 !important;
}

.formFooter button {
	background-color: rgba(213,108,47,1);
  width: 100px;
  height: 30px;
  border-radius: 10px 10px;
  border: none;
}

.formFooter button:hover {
  outline: none;
  background: rgb(236, 140, 84);
  cursor: pointer;
}

.formFooter:focus {
  outline: none;
  background: rgb(236, 140, 84);
}