.todos{
    margin: 7px auto;
    padding: 7px;
    height: 77px;
    width: 300px;
    border: 1px solid black;
    border-radius: 7%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.todos:hover{
    background-color: seashell;
}
.todos div{
    margin: 7px;
}
/* to be reviewed */
.container{
 margin: auto;
 border: 1px solid black;
 margin-top: 10px;
 padding: 20px;
 width: 500px;
 height: 700px;
 border-radius: 27px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controller{
    display: flex;
    margin: 7px;
    justify-content: center;
    align-items: center;
}
.todoContainer{
    display: flex;
    margin: 7px;
    justify-content: center;
    align-items: center;
}
.strikes{
    text-decoration: line-through;
}
