.notes-container{
    height: 340px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width: 72vw;
    display: flex;
    overflow-x: auto;
    border-radius: 7px;
}

.notes-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.single-note{
    height: 250px;
    padding: 10px;
    margin: auto 10px;
    box-shadow: 0px 0px 1px 1px #696969;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    min-width: 300px;
    transition: transform .2s;
}
.single-note:hover{
    transform: scale(1.1); 
    cursor: pointer;
}

.container-right{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin: auto auto;
}
.notes-heading{
    height: 140px;
    font-size: 24px;
    font-weight: 700;
}