.notes-container{
    height: 277px;
    box-shadow: 9px 7px 7px 7px #ccc;
    width: 70vw;
    display: flex;
    margin: 0px 100px;
    /* overflow: hidden; */
    overflow-x: auto;
}
/* .notes-container:hover{
} */
.single-note{
    height: 250px;
    padding: 10px;
    margin: auto 10px;
    border: 1px solid gray;
    min-width: 300px;
}
.container-right{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.notes-heading{
    height: 140px;
}